@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: "Poppins", sans-serif;
}

.btn-rsu {
  background-color: white;
  color: black;
  transition: 0.3s;
  border: 1px solid #efc1c4;
}

.btn-rsu:hover {
  background-color: #efc1c4;
  color: white;
  transform: scale(1.01);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


.social-icon {
  transition: transform 0.3s ease, color 0.3s ease;
  font-size: 1.5rem;
}

.social-icon:hover {
  transform: scale(1.2);
  color: #efc1c4 !important;
}

.animate-icons {
  animation: fadeInUp 0.6s ease-in-out;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.card {
  border-radius: 15px;
}

.bg-danger {
  background-color: #e91e63 !important;
}

.text-danger {
  color: #e91e63 !important;
}