.btn-rsu {
  background-color: white;
  color: black;
  transition: 0.3s;
  border: 1px solid #efc1c4;
}

.btn-rsu:hover {
  background-color: #efc1c4;
  color: white;
  transform: scale(1.01);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


.social-icon {
  transition: transform 0.3s ease, color 0.3s ease;
  font-size: 1.5rem;
}

.social-icon:hover {
  transform: scale(1.2);
  color: #efc1c4 !important;
}

.animate-icons {
  animation: fadeInUp 0.6s ease-in-out;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
